.border {
    border: 1px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 3px;
}

.p-1 {
    padding: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1a1a1a;  /* Dark track background */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444; /* Thumb color */
    border-radius: 10px;
    border: 2px solid #1a1a1a; /* Creates spacing around thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Thumb on hover */
  }
  
  /* Firefox support */
  * {
    scrollbar-width: thin;
    scrollbar-color: #444 #1a1a1a;
  }
  